#adamblurb:hover::after {
    content: "He is our steady hand, and his favourite phrase is 'calm down'. If you look him up in the dictionary, it says 'see Essentialism'.";
    background-color: #FFFFE8;
}

#juanblurb:hover::after {
    content: "If he was a dog, he'd have 65 human years of experience in tech. He thinks his best skill is software architecture, but we think it's the way he catches a frisbee with his mouth.";
    background-color: #FFFFE8;
}
